    .header{
        height: 5rem;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerMenu{
        display: flex;
         gap: 2rem;
         align-items: center;
         justify-items: center;
         
         a{
            color: var(--white);
            text-decoration: none;
            font-weight: bold;
            transition: all 0.5s;
            font-size: large;

            &:hover{
                color: var(--red-900);
            }
         }

         button{
            border: 0;
            background: transparent;
            margin-left: 1rem;
            transition: all 0.5s;
            &:hover{
                transform: scale(1.05);
            }
         }
    }