.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: var(--white);
  }
}

.login {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 30rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  form button {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 0;
    background-color: var(--red-900);
    color: var(--white);
    font-weight: 600;
    transition: all 0.5s;
  }

  form button:hover {
    transform: scale(1.02);
  }
}

.input {
  border: 1px solid var(--gray-100);
  padding: 0.8rem;
  background-color: var(--dark-700);
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1rem;
}

.text {
  color: var(--white);
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1.5rem;
}

@media (max-width: 680px) {
  .login {
    width: 90%;
  }
}
